<template>
  <div class="container">
      <div class="row fullscreen">
        <div class="row fixed-top">
          <div class="col-12 q-mt-xl"></div>
          <div class="col-12 flex flex-center q-mt-xl">
            <img src="/assets/images/vikings.png" alt="">
          </div>
          <div class="col-12 flex flex-center q-mt-lg q-headline subtitulo">Cadastre-se</div>
          <div class="col-12 flex flex-center q-mb-md subtitulo">Preencher usando</div>
          <div class="col-12 flex flex-center q-mb-md">
            <q-btn class="botao" outline flat no-ripple><img src="/assets/icons/facebook.png"></q-btn>
            <q-btn class="botao q-mx-sm" outline flat no-ripple><img src="/assets/icons/googleplus.png"></q-btn>
            <q-btn class="botao" outline flat no-ripple><img src="/assets/icons/twitter.png"></q-btn>
          </div>
          <div class="row justify-center items-center q-mx-lg">
            <div class="col-12 q-mb-sm">
              <q-field>
                <q-input type="text" :before="[{icon: 'person'}]" autofocus class="entrada" inverted color="input" placeholder="Nome completo"></q-input>
              </q-field>
            </div>
            <div class="col-12 q-mb-sm">
              <q-field>
                <q-input type="email" :before="[{icon: 'mail'}]" class="entrada" inverted color="input" placeholder="E-mail"></q-input>
              </q-field>
            </div>
            <div class="col-6 q-mb-sm">
              <q-field>
                <q-input type="password" :before="[{icon: 'lock'}]" class="entrada" inverted color="input" placeholder="Senha"></q-input>
              </q-field>
            </div>
            <div class="col-6 q-mb-sm">
              <q-field>
                <q-input type="password" :before="[{icon: 'lock'}]" class="entrada" inverted color="input" placeholder="Confirmar senha"></q-input>
              </q-field>
            </div>
            <div class="col-6 q-mb-sm">
              <q-field>
                <q-datetime type="date" format="DD/MM/YYYY" formatModel="String" v-model="nasc" :before="[{icon: 'date_range'}]" class="entrada" inverted color="input" placeholder="Nascimento"></q-datetime>
              </q-field>
            </div>
            <div class="col-6 q-mb-sm">
              <q-field>
                <q-input type="text" :before="[{icon: 'wc'}]" class="entrada" inverted color="input" placeholder="Sexo"></q-input>
              </q-field>
            </div>
            <div class="col-6">
              <q-field>
                <q-input type="number" :before="[{icon: 'phone'}]" class="entrada" inverted color="input" placeholder="Contato"></q-input>
              </q-field>
            </div>
            <div class="col-6 flex flex-center">
              <q-btn color="btncor" class="full-width" rounded no-caps to="/home">Cadastrar</q-btn>
            </div>
            <div class="col-12 flex flex-center">
            <div class="row justify-center links q-mt-lg">
              <div class="col-12 flex flex-center q-mb-sm">
                <span>Já possui uma conta?</span>
              </div>
              <div class="col-12 flex flex-center q-mb-sm">
                <router-link to="/login">Faça login</router-link>
              </div>
              <div class="col-12 flex flex-center">
                <span style="margin: 0 2% 0 0">Ou</span><router-link to="/agendamento">faça um agendamento rápido</router-link>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
export default {
  name: 'Cadastro',
  data: function () {
    return {
      nasc: ''
    }
  }
}
</script>
<style>
  .bg-input{
    background: rgba(200, 200, 200, 0.6)
  }
  .entrada{
    border-radius: 25px;
  }
  .subtitulo{
    color: white
  }
  .bg-btncor{
    background: #321428
  }
  .botao{
    width: 32px;
  }
  .links, .links a{
    color: white;
  }
</style>
