<template>
    <div class="container">
      <div class="row fullscreen">
        <div class="row fixed-top">
          <div class="col-12 q-mt-xl"></div>
          <div class="col-12 flex flex-center q-mt-xl">
            <img src="/assets/images/vikings.png" alt="">
          </div>
          <div class="col-12 flex flex-center q-my-lg q-headline subtitulo">Recuperação de senha</div>
          <div class="col-12 flex flex-center">
            <q-field>
              <q-input :before="[{icon: 'lock'}]" type="text" class="entrada q-mb-lg" autofocus inverted placeholder="Usuário ou e-mail" color="input"/>
            </q-field>
          </div>
          <div class="col-12 flex flex-center">
            <q-field>
              <q-datetime type="date" format="DD/MM/YYYY" formatModel="String" v-model="nasc" :before="[{icon: 'date_range'}]" class="entrada" inverted color="input" placeholder="Nascimento"></q-datetime>
            </q-field>
          </div>
          <div class="col-12 flex flex-center q-mt-lg">
            <q-btn rounded no-caps color="btncor" to="/home">Recuperar</q-btn>
          </div>
          <div class="col-12 flex flex-center">
            <div class="row justify-center links q-mt-lg">
              <div class="col-12 flex flex-center q-mb-sm">
                <span>Já possui uma conta?</span>
              </div>
              <div class="col-12 flex flex-center q-mb-sm">
                <router-link to="/login">Faça login</router-link>
              </div>
              <div class="col-12 flex flex-center">
                <span style="margin: 0 2% 0 0">Ou</span><router-link to="/cadastro">cadastre-se</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
export default {
  name: 'Login',
  data: function () {
    return {
      nasc: ''
    }
  }
}
</script>
<style>
  .bg-input{
    background: rgba(200, 200, 200, 0.6)
  }
  .entrada{
    border-radius: 25px;
  }
  .subtitulo{
    color: white
  }
  .bg-btncor{
    background: #321428
  }
  .links, .links a{
    color: white;
  }
</style>
