<template>
  <div class="container fullscreen">
    <div class="row justify-center">
      <div class="col-auto fixed-top-right">
        <q-btn size="25px" color="grey" icon="settings" rounded flat></q-btn>
      </div>
      <div class="row q-mt-xl">
        <div class="col-12 titulo flex flex-center q-mt-lg">
          Vikings Barbearia
        </div>
      </div>
      <div class="row q-mt-lg">
        <div class="col-12 caixa">
          <div class="row q-py-xs">
            <div class="col-12 flex flex-center">{{d.getDate()}} {{getMes()}} {{d.getFullYear()}}</div>
            <div class="col-12 flex flex-center q-my-sm">HOJE</div>
            <div class="col-12 flex flex-center">{{getSemana()}}</div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row q-mt-xl">
          <div class="col separador q-mx-md">
            <div class="row items-center">
              <div class="col linha"></div>
              <div class="col-auto q-mx-md text-weight-light">
                AGENDE UM NOVO HORÁRIO
              </div>
              <div class="col linha"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row q-ma-md justify-around items-center">
          <div class="col-4" v-for="n in 8" :key="n">
            <div class="col-12 flex flex-center">
              <div class="row circulo justify-center">
                <q-btn color="white" flat rounded no-ripple>
                  <img src="assets/icons/full-length-mirror.png" alt="">
                </q-btn>
              </div>
            </div>
            <div class="col flex flex-center conteudo q-my-sm text-weight-light" >
              Spa
            </div>
          </div>
          <div class="col-4">
            <div class="col-12 flex flex-center">
              <div class="row circulo justify-center">
                <q-btn icon="add" color="white" flat rounded no-ripple to="/servicos"></q-btn>
              </div>
            </div>
            <div class="col flex flex-center conteudo q-my-sm text-weight-light">
              Mais serviços
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col separador q-mx-md">
            <div class="row items-center">
              <div class="col linha"></div>
              <div class="col-auto q-mx-md text-weight-light">
                NOSSA EQUIPE
              </div>
              <div class="col linha"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="col flex flex-center colaboradores-scroll">
          <div class="col q-ma-md">
            <span v-for="n in 10" :key="n" class="q-mx-md" style="display: inline-block">
              <img src="/assets/icons/user.png" alt="">
              <span class="colaboradores-label text-weight-light">Nome</span>
            </span>
          </div>
        </div>
      </div>
     <div class="row">
        <div class="col fixed-bottom">
          <div class="col linha-bottom"></div>
          <q-btn flat class="botao q-pa-md" color="white" to="/home">
            <img src="/assets/icons/buttons/home_white.png" alt="">
          </q-btn>
          <q-btn flat class="botao q-pa-md" color="white">
            <img src="/assets/icons/buttons/placeholder.png" alt="">
          </q-btn>
          <q-btn flat class="botao q-pa-md" color="white">
            <img src="/assets/icons/buttons/tag.png" alt="">
          </q-btn>
          <q-btn flat class="botao q-pa-md" color="white" to="/profile">
            <img src="/assets/icons/buttons/avatar.png" alt="">
          </q-btn>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Home',
  data: function () {
    return {
      d: new Date()
    }
  },
  methods: {
    getSemana: function () {
      var x = new Date().getDay()
      switch (x) {
        case 0:
          return 'DOMINGO'
        case 1:
          return 'SEGUNDA'
        case 2:
          return 'TERÇA'
        case 3:
          return 'QUARTA'
        case 4:
          return 'QUINTA'
        case 5:
          return 'SEXTA'
        case 6:
          return 'SÁBADO'
      }
    },
    getMes: function () {
      var x = new Date().getMonth()
      x++
      switch (x) {
        case 1:
          return 'JAN'
        case 2:
          return 'FEV'
        case 3:
          return 'MAR'
        case 4:
          return 'ABR'
        case 5:
          return 'MAI'
        case 6:
          return 'JUN'
        case 7:
          return 'JUL'
        case 8:
          return 'AGO'
        case 9:
          return 'SET'
        case 10:
          return 'OUT'
        case 11:
          return 'NOV'
        case 12:
          return 'DEZ'
      }
    }
  }
}
</script>
<style scoped>
  .titulo{
    color: #fff;
    font-size: 2em;
    font-family: 'Rosewood'
  }
  .caixa{
    color: #c8c8c8;
    background: rgba(200, 200, 200, 0.4);
    border: 1px solid white;
    border-radius: 5px;
  }
  .linha{
    background: white;
    height: 1px;
  }
  .linha-bottom{
    background: rgba(255, 255, 255, 0.1);
    height: 1px
  }
  .separador{
    color: white;
    font-size: 12px;
  }
  .botao{
    width: 25%;
  }
  .circulo{
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 64px;
    height: 64px;
  }
  .conteudo{
    font-size: 14px;
    color: white
  }
  .colaboradores-scroll{
    width: auto;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .colaboradores-label{
    display: block;
    color: white;
    text-align: center;
  }
</style>
