<template>
    <div class="container">
      <div class="row fullscreen">
        <div class="row fixed-top">
          <div class="col-12 q-mt-xl"></div>
          <div class="col-12 flex flex-center q-mt-xl">
          <img src="/assets/images/vikings.png" alt="">
        </div>
        </div>
        <div class="row fixed-bottom">
          <div class="col-12 flex flex-center q-mb-md">
            <q-btn rounded no-caps color="btncor" to="/agendamento">Comece agora</q-btn>
          </div>
          <div class="col-12 flex flex-center text-weight-thin q-mb-xl">
            powered by trato.vip
          </div>
          <div class="col-12 q-mb-xl"></div>
        </div>
      </div>
    </div>
</template>
<script>
export default {
  name: 'Home'
}
</script>

<style>
  *{
    color:white;
  }
  .bg-btncor{
    background: #321428
  }
</style>
