<template>
    <div class="container">
      <div class="row fullscreen">
        <div class="row fixed-top">
          <div class="col-12 q-mt-xl"></div>
          <div class="col-12 flex flex-center q-mt-xl">
            <img src="/assets/images/vikings.png" alt="">
          </div>
          <div class="col-12 flex flex-center q-my-lg q-headline subtitulo">Login</div>
          <div class="col-12 flex flex-center">
            <q-field>
              <q-input :before="[{icon: 'lock'}]" type="text" class="entrada q-mb-lg" autofocus inverted placeholder="Usuário ou e-mail" color="input"/>
            </q-field>
          </div>
          <div class="col-12 flex flex-center">
            <q-field>
              <q-input :before="[{icon: 'lock'}]" type="password" class="entrada" inverted placeholder="Senha" color="input"/>
            </q-field>
          </div>
          <div class="col-12 flex flex-center q-mt-lg">
            <q-btn rounded no-caps color="btncor" to="/home">Entrar</q-btn>
          </div>
          <div class="col-12 flex flex-center">
            <div class="row justify-center links q-mt-lg">
              <div class="col-12 flex flex-center q-mb-sm">
                <span>Esqueceu sua senha?</span>
              </div>
              <div class="col-12 flex flex-center q-mb-sm">
                <router-link to="/forgot">Recuperar</router-link>
              </div>
              <div class="col-12 flex flex-center">
                <span style="margin: 0 2% 0 0">Ou</span><router-link to="/cadastro">cadastre-se</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
export default {
  name: 'Login'
}
</script>
<style>
  .bg-input{
    background: rgba(200, 200, 200, 0.6)
  }
  .entrada{
    border-radius: 25px;
  }
  .subtitulo{
    color: white
  }
  .bg-btncor{
    background: #321428
  }
  .links, .links a{
    color: white;
  }
</style>
