<template>
  <div class="container">
    <h1>teste profiles</h1>
  </div>
</template>
<script>
export default {
  name: 'Profile'
}
</script>
<style>
  .separador{
    color: white;
    font-size: 12px;
  }
  .linha{
    background: white;
    height: 1px;
  }
</style>
