<template>
  <div class="container fullscreen">
    <div class="row justify-center">
      <div class="col-auto fixed-top-right">
        <q-btn size="25px" color="grey" icon="settings" rounded flat></q-btn>
      </div>
      <div class="col-12 q-mt-sm">
        <div class="row q-mt-xl">
          <div class="col separador q-mx-lg">
            <div class="row items-center">
              <div class="col linha"></div>
              <div class="col-auto q-mx-md text-weight-light">
                SERVIÇOS
              </div>
              <div class="col linha"></div>
            </div>
          </div>
        </div>
      </div>
      <q-scroll-area style="height: 690px">
        <div class="row">
          <div class="col-12">
            <div class="row q-my-lg q-ml-lg">
              <div class="col flex flex-left text-weight-light subtitulo">
                Cabelo
              </div>
            </div>
          </div>
          <div class="col-4" v-for="n in 9" :key="n">
            <div class="col-12 flex flex-center">
              <div class="row circulo justify-center">
                <q-btn color="white" flat rounded no-ripple></q-btn>
              </div>
            </div>
            <div class="col flex flex-center conteudo q-my-sm text-weight-light">
              Alisamento
            </div>
          </div>
          <div class="col-12">
            <div class="row q-my-lg q-ml-lg">
              <div class="col flex flex-left text-weight-light subtitulo">
                Rosto e pele
              </div>
            </div>
          </div>
          <div class="col-4" v-for="n in 9" :key="n">
            <div class="col-12 flex flex-center">
              <div class="row circulo justify-center">
                <q-btn color="white" flat rounded no-ripple></q-btn>
              </div>
            </div>
            <div class="col flex flex-center conteudo q-my-sm text-weight-light">
              Esfoliação
            </div>
          </div>
        </div>
      </q-scroll-area>
      <div class="row">
        <div class="col fixed-bottom">
          <div class="col linha-bottom"></div>
          <q-btn flat class="botao q-pa-md" color="white" to="/home">
            <img src="/assets/icons/buttons/home_white.png" alt="">
          </q-btn>
          <q-btn flat class="botao q-pa-md" color="white">
            <img src="/assets/icons/buttons/placeholder.png" alt="">
          </q-btn>
          <q-btn flat class="botao q-pa-md" color="white">
            <img src="/assets/icons/buttons/tag.png" alt="">
          </q-btn>
          <q-btn flat class="botao q-pa-md" color="white" to="/profile">
            <img src="/assets/icons/buttons/avatar.png" alt="">
          </q-btn>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Servicos'
}
</script>
<style>
  .linha{
    background: white;
    height: 1px;
  }
  .linha-bottom{
    background: rgba(255, 255, 255, 0.1);
    height: 1px
  }
  .separador{
    color: white;
    font-size: 12px;
  }
  .botao{
    width: 25%;
  }
  .circulo{
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 64px;
    height: 64px;
  }
  .conteudo{
    font-size: 14px;
    color: white
  }
  .subtitulo{
    color: white;
    font-size: 1.5em
  }
</style>
