<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  body{
    background-image: linear-gradient(rgba(17, 17, 43, 1),rgba(151, 0, 0, 1))
  }
</style>
